html {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  min-height: 500px;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #5e2392, #23d5ab);
}

.row {
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 450px) {
  body {
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* text-align: center; */
  }
}

a {
  text-decoration: none !important;
}

.entry-title {
  text-align: center;
}

.entry-title .fa-solid,
.fas {
  margin-right: 5px;
}

.entry-title h1 {
  padding: 18px;
}

.item h1,
.item h2 {
  display: inline;
  font-size: 15px;
  padding-left: 4px;
  vertical-align: inherit;
  display: contents;
}

#loadTool,
.voucher-content {
  margin: 20px auto;
}

#loadTool h3,
.voucher-content h3 {
  margin: 10px auto;
}

.content-tool {
  width: 100%;
}

/* .content-tool {
    background: rgb(0 0 0 / 25%);
    box-shadow: 3px 3px 9px 1px rgb(0 0 0 / 37%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    min-height: 100px;
    min-width: 500px;
    padding: 20px;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    color: #fff;
  } */
.border-top {
  border-top: 1px solid #fff;
  padding: 20px;
}

.textcolor {
  animation: textcolor 5s infinite alternate;
}

.textcolor-1s {
  animation: textcolor 1s infinite alternate;
}

.textcolor-2s {
  animation: textcolor 2s infinite alternate;
}

@keyframes textcolor {
  0% {
    color: #6ee4c8;
  }

  25% {
    color: #63bfe0;
  }

  50% {
    color: #eb92b4;
  }

  75% {
    color: #ecaa95;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

input[type="file"]::file-selector-button {
  font-weight: bold;
  padding: 0.5em;
  border: 1px;
  background: rgb(0 0 0 / 25%);
  box-shadow: 3px 3px 9px 1px rgb(0 0 0 / 37%);
  color: #fff;
  backdrop-filter: blur(6px);
}

.keyword {
  margin-top: 25px;
  color: #fff;
}

.keyword h3,
.keyword span {
  font-size: 12px;
  text-align: center;
}

.btn-active {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

/* remove modal boostrap */
.modal-backdrop.show {
  display: none;
}

/* voucher  */
.voucher-content button span,
.voucher-content button label {
  color: #000;
}

#layout-wrapper {
  font-family: "Quicksand", sans-serif;
}

.atEQPOIVFSDFSDG-btn,
[class$="-btn-search"],
.btn-copy,
[class$="-line--content"],
[class$="-nav-item"] a.active,
[class$="-btn-keyword"]:hover,
[class$="-btn-keyword"] a:hover,
[class$="-btn-keyword"],
[class$="-btn-keyword"] a {
  background-color: #f00 !important;
  color: #fff !important;
  text-decoration: none;
  white-space: unset !important;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  display: flex;
}

li.atEQPOIVFSDFSDG-btn-keyword.active a {
  justify-content: center;
  align-items: center;
}

[class$="-item-loading-desk"] {
  color: red;
}

.atEQPOIVFSDFSDG-title a,
[class$="-heading--title"] p {
  color: #0400ff !important;
}

[class$="-at-modal-content"] {
  margin: 10% auto;
}

[class$="-remain"] [class$="-item-label"],
[class$="-heading--label"] span {
  background: #0400ff;
  color: #ffffff;
  font-weight: 700;
}

[class$="-search-title"]::after {
  content: " (Sau khi bạn nhấn tìm kiếm, hãy chờ khoảng 2 đến 3 giây để hệ thống tải dữ liệu nhé ^.^)";
}

[class$="-btn-search"],
.atEQPOIVFSDFSDG-input-search,
.atEQPOIVFSDFSDG-input-search input,
.atEQPOIVFSDFSDG-input-search input:focus {
  border: 1px solid #f00;
}

.atEQPOIVFSDFSDG-input-search,
.atEQPOIVFSDFSDG-input-search input {
  border-radius: 0.25rem 0 0 0.25rem;
}

[class$="-btn-search"] {
  border-radius: 0 0.25rem 0.25rem 0;
}

[class$="-promo-item"] {
  margin-left: 20px;
}

[class$="-promo--img"] {
  width: 70px;
  height: 70px;
}

[class$="-dropdown-toggle"] span {
  color: #000;
}

.atEQPOIVFSDFSDG-voucher-main {
  background: rgb(255 255 255);
}

.atEQPOIVFSDFSDG-coupon-pagination nav ul.atEQPOIVFSDFSDG-pagination li.active a {
  background-color: red;
}

.atEQPOIVFSDFSDG-container-btncopy .atEQPOIVFSDFSDG-dealact-copy {
  padding: 10px;
}

.coupon-label {
  background: #b3b3b35f;
  color: #ffffff;
  padding: 10px;
}

.coupon-section {
  padding: 15px;
}

.coupon-section h3 {
  text-align: center;
  color: #fff;
}

.coupon-text {
  height: 70px;
  overflow: hidden;
  padding: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

/* game  */
.game-content {
  text-align: center;
  width: 100%;

  background: rgb(0 0 0 / 25%);
  box-shadow: 3px 3px 9px 1px rgb(0 0 0 / 37%);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  min-height: 100px;
  min-width: 500px;
  padding: 20px;
  display: block;
  margin: 10px auto;
  border-radius: 4px;
  color: #fff;
}

.coupon-content {
  min-width: unset;
  text-align: center;
  width: 100%;
  background: rgb(255 243 243);
  border-radius: 10px;
  min-height: 100px;
  padding: 20px;
  display: block;
  margin: 10px auto;
  border-radius: 4px;
  color: #f00 !important;
  font-weight: bold;
  height: 410px;
  overflow: hidden;
}

.coupon-label {
  color: #000 !important;
}

.game-content h3 {
  color: #fff;
}

@media only screen and (max-width: 650px) {

  .atEQPOIVFSDFSDG-close {
    padding: 30px 50px;
    width: 100%;
  }
}

@media only screen and (min-width: 650px) {

  .atEQPOIVFSDFSDG-title a,
  [class$="-heading--title"] p {
    font-size: 17px !important;
  }
}

@media only screen and (min-width: 1100px) {

  .atEQPOIVFSDFSDG-btn,
  [class$="-btn-search"],
  .btn-copy,
  [class$="-line--content"],
  [class$="-nav-item"] a.active,
  [class$="-btn-keyword"]:hover,
  [class$="-btn-keyword"] a:hover,
  [class$="-btn-keyword"],
  [class$="-btn-keyword"] a {
    font-size: 17px !important;
  }

  .atEQPOIVFSDFSDG-voucher-main .atEQPOIVFSDFSDG-container {
    max-width: 1100px;
  }
}