body {
    min-height: 500px;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #5e2392, #23d5ab);
}

@media only screen and (min-width: 1100px) {
    body {
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        /* text-align: center; */
    }
}

a {
    text-decoration: none !important;
}

.entry-title {
    text-align: center;
}

.entry-title .fa-solid,
.fas {
    margin-right: 5px;
}

.entry-title h1 {
    padding: 18px;
}

.item h1,
.item h2 {
    display: inline;
    font-size: 15px;
    padding-left: 4px;
    vertical-align: inherit;
    display: contents;
}

#loadTool,
.voucher-content {
    margin: 20px auto;
}

#loadTool h3,
.voucher-content h3 {
    margin: 10px auto;
}

/* .content-tool {
    background: rgb(0 0 0 / 25%);
    box-shadow: 3px 3px 9px 1px rgb(0 0 0 / 37%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    min-height: 100px;
    min-width: 500px;
    padding: 20px;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    color: #fff;
  } */
.border-top {
    border-top: 1px solid #fff;
    padding: 20px;
}

.textcolor {
    animation: textcolor 5s infinite alternate;
}

.textcolor-1s {
    animation: textcolor 1s infinite alternate;
}

.textcolor-2s {
    animation: textcolor 2s infinite alternate;
}

@keyframes textcolor {
    0% {
        color: #6ee4c8;
    }

    25% {
        color: #63bfe0;
    }

    50% {
        color: #eb92b4;
    }

    75% {
        color: #ecaa95;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input[type="file"]::file-selector-button {
    font-weight: bold;
    padding: 0.5em;
    border: 1px;
    background: rgb(0 0 0 / 25%);
    box-shadow: 3px 3px 9px 1px rgb(0 0 0 / 37%);
    color: #fff;
    backdrop-filter: blur(6px);
}

.keyword {
    margin-top: 25px;
    color: #fff;
}

.keyword h3,
.keyword span {
    font-size: 12px;
    text-align: center;
}

.btn-active {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/* remove modal boostrap */
.modal-backdrop.show {
    display: none;
}

/* voucher  */
.voucher-content button span,
.voucher-content button label {
    color: #000;
}

[class$="-code-coupon"] {
    /* user-select: all; */
}

.atEQPOIVFSDFSDG-btn,
[class$="-btn-search"],
.btn-copy,
[class$="-line--content"],
[class$="-nav-item"] a.active,
[class$="-btn-keyword"]:hover,
[class$="-btn-keyword"] a:hover {
    background-color: #f00 !important;
    color: #fff !important;
    text-decoration: none;
}

[class$="-at-modal-content"] {
    margin: 10% auto;
}

[class$="-remain"] [class$="-item-label"] {
    background: #0400ff;
    color: #ffffff;
}

[class$="-search-title"]::after {
    content: " (Sau khi bạn nhấn tìm kiếm, hãy chờ khoảng 2 đến 3 giây để hệ thống tải dữ liệu nhé ^.^)";
}

/* game  */
.game-content {
    text-align: center;
    width: 100%;

    background: rgb(0 0 0 / 25%);
    box-shadow: 3px 3px 9px 1px rgb(0 0 0 / 37%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    min-height: 100px;
    min-width: 500px;
    padding: 20px;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    color: #fff;
}

.game-content h3 {
    color: #fff;
}